---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
	"minima/initialize";

body {
	font-family: "Bitter", serif;
	font-weight: 400;
	font-size: smaller;
}

code {
	font-family: "Spline Sans Mono", monospace;
}

h1,
h2,
h3,
h4 {
	font-weight: 600;
}
